<!DOCTYPE html>
<html>
<head>
  <title>All Posts</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>All Posts</h1>

<% for (let post of posts) { %>
  <div>
    <h3>@<%= post.username %></h3>
    <p><%= post.content %></p>

    <a href="/posts/<%= post.id %>">View</a>
    <a href="/posts/<%= post.id %>/edit">Edit</a>
    <br>
    <form method="post" action="/posts/<%= post.id %>?_method=DELETE">
    <button>Delete post</button>
    </form>
  </div>
  <hr>
<% } %>

<a href="/posts/new">Create New Post</a>

</body>
</html>